/*
RESET
*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.disp-item{
    margin: 0 auto;
}
.container{
    height: 100px;
    background-color: orange;
}
.container-elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1500px;
    height: 100px;
    margin: 0 auto;
}
img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.containerlinks{
    display: flex;
    align-self: center;
    margin: 0 auto;
    width: calc(100%/3);
}
.header-links{
    display: inline-block;
    align-self: center;
}
.container-img-logo{
    width: calc(100%/3);
    display: flex;
    justify-content: center;
}
.img-logo{
    width: 50%;
    height: 20%;
    transform: translate(fill);
}
.imgs-profilo-pref-carrello{
    width: calc(100%/3);
}
/*
MAIN
*/
.main-container{
    margin-top: 50px;
    width: 1500px;
    
}
.my-row{
    display: flex;
    flex-wrap: wrap;
}
.my-col-1-3{
    width: calc(100%/3);
    position: relative;
    
}
.my-row2{
    display: flex;
    flex-wrap: wrap;
    
}
.heart-position{
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 0;
}

.line-though{
text-decoration: line-through
}
.low-price-red{
    color:red
}
.sales-container{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 100px;
    
}
.sales{
    color: white; 
    background-color: red;
    padding: 5px 10px 5px;
}
.info-product{
    color: white;
    background-color: green;
    padding: 5px 10px 5px;
}