/*
RESET
*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.disp-item {
    margin: 0 auto;
}

.container {
    height: 100px;
    background-color: orange;
}

.container-footer {
    height: 100px;
    background-color: black;
}

.container-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1500px;
    height: 100px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    max-height: 100%;
    --object-fit: contain;
}

.primary-img{
    position:relative
}
.img-secondary{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
   
} 

.my-col-1-3:hover .img-secondary{
    display: block;
    
}

.containerlinks {
    display: flex;
    align-self: center;
    margin: 0 auto;
    width: calc(100%/3);
}

.header-links {
    display: inline-block;
    align-self: center;
}

.container-img-logo {
    width: calc(100%/3);
    display: flex;
    justify-content: center;
}

.img-logo {
    width: 50%;
    height: 20%;
    transform: translate(fill);
}

.imgs-profilo-pref-carrello {
    width: calc(100%/3);
}

/*
MAIN
*/
.main-container {
    margin-top: 50px;
    width: 1500px;
    padding-left: 15px;
    padding-right: 15px;
    

}

.my-row {
    display: flex;
    flex-wrap: wrap;
}

.my-col-1-3 {
    width: calc((100%/3) - 30px);
    margin-left: 15px;
    margin-right: 15px;
    position: relative;

}

.my-row2 {
    display: flex;
    flex-wrap: wrap;

}

.heart-position {
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 0;
}

.line-though {
    text-decoration: line-through
}

.low-price-red {
    color: red
}

.sales-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 130px;

}

.sales {
    color: white;
    background-color: red;
    padding: 5px 10px 5px;
}

.info-product {
    color: white;
    background-color: green;
    padding: 5px 10px 5px;
}

.footer-section {
    width: 1500px;
    margin: 0 auto;
}

.flex-container-footer {
    display: flex;
    justify-content: space-between;
    
}

.flex-ele{
    width: calc(100%/2);
}
.title-footer{
    color: white;
}

.link-footer {
    text-decoration: none;
    color: white;
}

.link-footer-due {
    padding-left: 20px;
    text-decoration: none;
    color: white;
}

.link-footer-tre {
    padding-left: 20px;
    text-decoration: none;
    color: white;
}
.footer-section-dx{
    display: flex;
    flex-direction: row-reverse;
}
.info-footer {
    color: white;
}